body {
    background: url(../img/cube-sea-3429485_960_720.jpg) center/cover;
}
#navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    top: 0;
    position: sticky;
    width: 100%;
    text-shadow: 0 0 .3rem rgba(0, 0, 0, .6);
    transition: 200ms ease-in-out color;
    height: 60px;
}

.logo-container{
}
.nav-scroll{
    background-color:#EAF6F6
}

#follow-cursor{
    background-color: rgba(124, 118, 118, 0.5);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    transition: 0.2s ease-out;
}

#pageWrapper {
    display: flex;
    min-height: 70vh;
    max-width: 2000px;
    background: wheat;
    flex-direction: column;
    
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
}

/*My name*/
.name {
    width: 20px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*navigation bar*/
.nav-container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    list-style: none;
    align-items: center;
    animation: bigger;
    animation-duration: 1s;
    border-radius: 20px;
    transform: scale(1) perspective(100000000px);
    transition: all ease 1600ms;
    box-shadow: -4px -4px 20px black;
    transform-origin: top;
}

/* nav item on hover*/
ul a:hover {
    color: snow;
    box-shadow: rgba(0, 0, 0, .6);
    
}

a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 1.5em;
}

/*name and logo*/
.logo-container {
    display: flex;
    flex-direction: row;
    margin-right: 300px;
}
.logo-container div {
    font-size: 2em;
}

.logo {
    width: 50px;
}

/*Main content container*/
#content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@keyframes bigger {
    from {transform: scale(0);}
    to {transform: scale(1);}
  }

#leftSide-Wrapper{
    display: flex;
    flex-direction: column;
    width: 500px;
    background: #EEA47FFF;
    animation: bigger;
    animation-duration: 1s;
    border-radius: 20px;
    transition: all ease 1600ms;
    box-shadow: -4px -4px 20px black;
    transform-origin: top;
}

#leftSide-Wrapper h1 {
    margin-left: 3px;
    color: #232b2b;
    font-family:'Roboto',sans-serif;
    font-size: 2em;
}

#leftSide-Wrapper pre{
    font-size: 6em;
    font-family: 'Peralta', cursive;
    margin: auto;
}

#leftSide-Wrapper h3{
    font-size: 6em;
    margin-top: -30px;
    margin-left: 100px;
}

.about-me {
    height: 510px;
}

.about-me p {
    margin-left: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 1.4em;
    max-width: 700px;
}

.greeting {
    font-size: 3em;
}

/*my personnals links*/
.Links-Wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: #232b2b;
}

.Links-Wrapper {
    background-color: #00539CFF;
    color: white;
    border-radius: 20px;
}

.Links-Wrapper img {
    width: 50px;
    align-items: flex-end;
}

.Links-Wrapper img:hover {
    transform: translateX(2px);
    background-color: #EAF6F6;
    border-radius: 50px;
    background-size: 2px;
}

.RightSide-Wrapper {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    width: 500px;
    animation: bigger;
    animation-duration: 1s;
    border-radius: 20px;
    transition: all ease 1600ms;
    box-shadow: 4px -4px 20px #232b2b;
    transform-origin: top;
}

.RightSide-Wrapper h1 {
    color: #232b2b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5em;
    text-decoration: underline;
}

/*nav and main content line*/
.separator {
    background-color: antiquewhite;
    height: .2px;

}

.RightSide-Wrapper img {
    width: 427px;
    height: 410px;
    animation: bigger;
    animation-duration: 1s;
    border-radius: 20px;
    transition: all ease 1600ms;
    transform-origin: top;
}

/*menu button for small screen*/
img[alt="menu"] {
    display: none;
}

.Programming-logo {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.Programming-logo img {
    width: 100px;
    height: 100px;
}


/*Display for MOBILE*/
@media only screen and (max-width : 40em) {
    .nav-item li {
        display: none;
    }

    .logo-container{
        margin-left: -70px;
    }
   
    header{
        background-color: wheat;
        position: fixed;
        width: 98.1%;
        margin-top: -10px;
    }

    .nav-container ul {
        gap: 0;
        justify-content: space-around;
    }

    img[alt="menu"] {
        display: block;
        width: 20px;
    }

    #content-container {
        flex-direction: column;
        justify-content: center;
    }

    .about-me {
        justify-content: flex-start;
    }

    #pageWrapper {
        justify-content: center;
    }

    .Projects-grid-Wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: -25px;
    }

    Main {
        margin-left: 1px;
    }

    .separator {
        display: none;
    }

    #leftSide-Wrapper {
        width: calc(50% - 1px);
        width: -moz-calc(50% - 10px);
        width: -webkit-calc(100% - 1px);
        height: 580px;
    }

    .RightSide-Wrapper {
        flex-direction: column;
        width: calc(50% - 1px);
        width: -moz-calc(50% - 1px);
        width: -webkit-calc(100% - 1px);
    }

    body {
        overflow-x: hidden;
        /* Hide horizontal scrollbar */
    }
}

/*Display for TABLET*/
@media only screen and (min-width:40em) and (max-width:60em) {
    .nav-item li {
        display: none;
    }


    .RightSide-Wrapper {
        flex-direction: column;
        width: calc(50% - 1px);
        width: -moz-calc(50% - 1px);
        width: -webkit-calc(100% - 1px);
    }

    img[alt="photo"] {
        margin: auto;
    }

    .about-me p{
        margin-left: 30px;
    }

    .nav-container ul {
        display: flex;
        flex-direction:row;
    }

    .nav-container{
    }
    .logo-container{
        margin-left: -70px;
    }

    img[alt="menu"] {
        display: block;
        width: 20px;
    }

    #content-container {
        flex-direction: column;
    }

    .Projects-grid-Wrapper {
        display: grid;
        grid-template-columns: repeat(3, 443px);
    }

    body {
        overflow: visible;
    }

    Main {
        display: flex;
        flex-direction: column;
    }

    #leftSide-Wrapper {
        width: calc(85% - 1px);
        width: -moz-calc(85% - 1px);
        width: -webkit-calc(100% - 1px);
        height: 550px;
    }

    .separator {
        display: none;
    }

}

/**Education**/

.education-wrapper {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    margin: auto;
    width: 100%;
    animation: bigger;
    animation-duration: 1s;
    border-radius: 20px;
    transition: all ease 1600ms;
    box-shadow: -4px -4px 20px black;
    transform-origin: top;
}

.education {
    display: flex;
    flex-direction: column;
}

.education H1 {
    color: #232b2b;
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.education h2 {
    color: #00539CFF;
    font-size: 2em;
    font-family: 'Courier New', Courier, monospace;
}

.education pre {
    color: gray;
    margin-top: -20px;
    font-size: 1.5em;
}

.education p {
    font-size: 1.5em;
    margin-top: -15px;
}



















/**projects**/
.pageWrapper {
    display: flex;
    flex-direction: column;
}

.Projects-grid-Wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-grid-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projects-grid-container H1 {
    color: #232b2b;
}

figure img {
    width: 200px;
    margin-left: 100px;
}

figure {
    width: 400px;
    align-items: center;
    background-color: #EEA47FFF;
    border-radius: 50px;
    animation: bigger;
    animation-duration: 1s;
    transform: scale(1) perspective(100000000px);
    transition: all ease 1600ms;
    box-shadow: -4px -4px 20px black;
    transform-origin: top;
}

figcaption {
    background-color: #00539CFF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    border-radius: 20px;
    transform: translateZ(200px) scaleY(0);
    padding: 40px 25px;
    transform-origin: top;
    transition: 0.5s;
}
figure:hover figcaption{
    transform:perspective(6000px) rotateX(2deg) rotateY(2deg) rotateZ(0deg)
    translateX(0px) translateY(0px) translateZ(180px) scaleY(0);
    transform-style: preserve-3d;
    transform: translate(0px);
}


h1 {
    font-size: 100px;
    margin: auto;
    color: #EAF6F6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}