body {
    /*height: 100vh;*/
    background: url(../img/cube-sea-3429485_960_720.jpg) center/cover;
}

#pageWrapper {
    display: flex;
    min-height: 70vh;
    max-width: 100000px;
    background: wheat;
    flex-direction: column;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 550;
}

/*My name*/
.name {
    width: 20px;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*navigation bar*/
.nav-container ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: center;
    gap: 100px;
}

/* nav item on hover*/
ul a:hover {
    color: snow
}

a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 1.5em;
}

/*name and logo*/
.logo-container {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 30px;
    margin-right: 20px;
}

/*Main content container*/
#content-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


#leftSide-Wrapper {
    display: flex;
    flex-direction: column;
    width: 500px;
    background: #EEA47FFF;
}

#leftSide-Wrapper h1 {
    color: #232b2b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4em;
}

.about-me {
    display: flex;
    flex-direction: column;
    height: 510px;
    flex-wrap: wrap;
}

.greeting {
    font-size: 3em;
}

/*my personnals links*/
.Links-Wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    background-color: #232b2b;
}

.Links-Wrapper {
    background-color: #00539CFF;
    color: white
}

.Links-Wrapper img {
    width: 50px;
    align-items: flex-end;
}

.Links-Wrapper img:hover {
    transform: translateX(2px);
    background-color: #EAF6F6;
    border-radius: 50px;
    background-size: 2px;
}

.RightSide-Wrapper {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.RightSide-Wrapper h1 {
    color: #232b2b;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 5em;
    text-decoration: underline;
}

/*nav and main content line*/
.separator {
    background-color: antiquewhite;
    height: .2px;

}

.RightSide-Wrapper img {
    width: 427px;
    height: 410px;
}

/*menu button for small screen*/
img[alt="menu"] {
    display: none;
}

.Programming-logo {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    justify-content: center;
}

.Programming-logo img {
    width: 100px;
    height: 100px;
}


/*Display for MOBILE*/
@media only screen and (max-width : 40em) {
    .nav-item li {
        display: none;
    }

    .nav-container ul {
        gap: 0;
        justify-content: space-around;
    }

    img[alt="menu"] {
        display: block;
        width: 20px;
    }

    #content-container {
        flex-direction: column;
        justify-content: center;
    }

    .about-me {
        justify-content: flex-start;
    }

    #pageWrapper {
        justify-content: center;
    }

    .Projects-grid-Wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-left: -25px;
    }

    Main {
        margin-left: 1px;
    }

    .separator {
        display: none;
    }

    #leftSide-Wrapper {
        width: calc(50% - 1px);
        width: -moz-calc(50% - 10px);
        width: -webkit-calc(100% - 1px);
    }

    .RightSide-Wrapper {
        flex-direction: column;
        width: calc(50% - 1px);
        width: -moz-calc(50% - 1px);
        width: -webkit-calc(100% - 1px);
    }

    body {
        overflow-x: hidden;
        /* Hide horizontal scrollbar */
    }
}

/*Display for TABLET*/
@media only screen and (min-width:40em) and (max-width:60em) {
    .nav-item li {
        display: none;
    }

    .RightSide-Wrapper {
        flex-direction: column;
        width: calc(50% - 1px);
        width: -moz-calc(50% - 1px);
        width: -webkit-calc(100% - 1px);
    }

    img[alt="photo"] {
        margin: auto;
    }

    .about-me {
        margin: 0;
    }

    .nav-container ul {
        display: flex;
        justify-content: space-around;
    }

    img[alt="menu"] {
        display: block;
        width: 20px;
    }

    #content-container {
        flex-direction: column;
    }

    .Projects-grid-Wrapper {
        display: grid;
        grid-template-columns: repeat(3, 443px);
    }

    body {
        overflow: visible;
    }

    Main {
        display: flex;
        flex-direction: column;
    }

    #leftSide-Wrapper {
        width: calc(85% - 1px);
        width: -moz-calc(85% - 1px);
        width: -webkit-calc(100% - 1px);
    }

    .separator {
        display: none;
    }

}

/**projects**/
.pageWrapper {
    display: flex;
    flex-direction: column;
}

.Projects-grid-Wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projects-grid-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.projects-grid-container H1 {
    color: #232b2b;
}

figure img {
    width: 200px;
    margin-left: 100px;
}

figure {
    width: 400px;
    align-items: center;
    background-color: #EEA47FFF;
}

figcaption {
    background-color: #00539CFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

h1 {
    font-size: 100px;
    margin: auto;
    color: #EAF6F6;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}